<h1><%= name of user %></h1>

<div id="messages">
  <% @messages.each do |message| %>
    <p><%= message.user.username %>: <%= message.content %></p>
  <% end %>
</div>

<%= form_with url: chatroom_messages_path(@chatroom) do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "Send" %>
<% end %>

