<% if current_page?(controller: 'chatrooms', action: 'show') %>
  <style>
    .footer-container {
      display: none;
    }
  </style>
<% end %>

<div class="layout-content">
  <div class="container chatroom">
    <div class="row pb-1">
      <div class="col d-flex align-items-center justify-content-start mb-4">
        <% if current_user.id == @chatroom.user_id %>
          <img src="<%= User.find(@chatroom.client_id).photo %>" width="80px">
          <h3 class="glow px-3 thick nolinkstyle"><%= link_to User.find(@chatroom.client_id).name, user_path(@chatroom.client_id) %></h3>
          <br><br>
        <% else %>
          <img src="<%= @chatroom.user.photo %>" width="80px">
          <h3 class="glow px-3 thick nolinkstyle"><%= link_to @chatroom.user.name, user_path(@chatroom.user) %></h3>
          <br><br>
        <% end %>
      </div>
      <hr class="light m-0">
      <div id="messages-container" class="messages pt-5">
        <% @chatroom.messages.each do |message| %>
          <div class="message-container clearfix">
            <% if message.user == current_user %>
              <div class="my-message">
                <%= message.content %>
              </div>
              <div class="my-timestamp">
                <%= message.created_at.strftime("%a %b %e %Y at %l:%M %p") %>
              </div>
            <% else %>
              <div class="other-message">
                <%= message.content %>
              </div>
              <div class="other-timestamp">
                <%= message.created_at.strftime("%a %b %e %Y at %l:%M %p") %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          setInterval(function() {
            var chatroomId = <%= @chatroom.id %>;
            $.ajax({
              url: '/chatrooms/' + chatroomId + '/messages',
              dataType: 'script'
            });
          }, 3000);
        });
      </script>
    </div>
    <div class="pt-5">
      <%= simple_form_for [@chatroom, @message], html: {class: "d-flex", id: "message-form"} do |f| %>
        <div class="input-group">
          <%= f.input :content, label: false, placeholder: "Type your message here...", wrapper_html: {class: "flex-grow-1"}, input_html: {id: "message-content", style: "border: none; border-bottom: 1px solid #a6ff00; border-radius: 0px; background-color: transparent; color: white; outline: none; width: 100%"} %>
          <span class="input-group-btn">
            <%= f.submit "Send", class: "btn-gf", id: "message-submit" %>
          </span>
        </div>
      <% end %>
    </div>
    <br><br><br><br><br>
  </div>
</div>
<script>
  $(document).ready(function() {
    // scroll to the bottom of the chat
    $('#messages-container').scrollTop($('#messages-container')[0].scrollHeight);

    setInterval(function() {
      var chatroomId = <%= @chatroom.id %>;
      $.ajax({
        url: '/chatrooms/' + chatroomId + '/messages',
        dataType: 'script'
      });
    }, 3000);

    $('#message-form').submit(function(event) {
      event.preventDefault();
      var form = $(this);
      $.ajax({
        url: form.attr('action'),
        method: form.attr('method'),
        data: form.serialize(),
        dataType: 'json',
        success: function(response) {
          // add the new message to the chatroom view
          var message = response.content;
          var user = response.user.name;
          var createdAt = new Date(response.created_at).toLocaleString();
          var $messageContainer = $('<div>').addClass('message-container clearfix');
          if (response.user_id === <%= current_user.id %>) {
            var $myMessage = $('<div>').addClass('my-message').text(message);
            var $myTimestamp = $('<div>').addClass('my-timestamp').text(createdAt);
            $messageContainer.append($myMessage).append($myTimestamp);
          } else {
            var $otherMessage = $('<div>').addClass('other-message').text(message);
            var $otherTimestamp = $('<div>').addClass('other-timestamp').text(user + ' - ' + createdAt);
            $messageContainer.append($otherMessage).append($otherTimestamp);
          }
          $('#messages-container').append($messageContainer);
          // clear the input field
          $('#message-content').val('');
          // scroll to the bottom of the chat
          $('#messages-container').scrollTop($('#messages-container')[0].scrollHeight);
        },
        error: function(response) {
          console.log('Error submitting form!');
        }
      });
    });
  });
</script>



