<div class="layout-content">

<h2 class="light"> You are booking a session with</h2>
<h1 class="glow"><%= user.name %> </h1>

<div class="light">
  <%= simple_form_for [@user, @booking] do |f| %>
    <%= f.input :date, as: :date, label: "Date", html5: true %>
    <%= f.input :time, as: :time, label: "Time", html5: true %>
    <%= f.input :duration, collection: ['1 Hour', '2 Hours', '3 Hours', '4 Hours'], prompt: 'Select duration' %>
    <%= f.input :specialities  %>
    <%= f.input :package_id, as: :hidden, input_html: { value: @package.id } %>
    <%= f.submit "Book", class: "btn-gf" %>
  <% end %>
</div>
</div>