<div class="layout-content">

<h2 class="light"> You are booking a session with</h2>
<h4 class="glow"><%= user.name %> </h4>

<div class="align-center">
 <%= simple_form_for [@user, @booking] do |f| %>
  <%= f.input :date, as: :date, label: "Date", html5: true %>
  <%= f.input :time, as: :time, label: "Time", html5: true %>
  <%= f.input :duration  %>
  <%= f.input :specialities  %>
  <%= f.submit "Book", class: "btn-gf" %>
<% end %>

</div>