<div class="layout-content">

<!-- XC : This is the return back action -->
<div class="row p-2">
  <div class="col glow">
<a href="javascript:history.go(-1)">
      <i class="fa-solid fa-chevron-left fa-2x"></i>
    </a>  </div>
  <div class="col glow" style="text-align: right;">
    <h2> Booking </h2>
  </div>
</div>
<hr class="light">
<!-- XC : End of the return back action -->

<h3 class="whity thick"> Days left to GetFit:</h3>
<h1 class="glow thicker"><span id="countdown" class="glow"></span></h1>


<script>
  // Calculate the time difference between now and the booking date
  var bookingDate = new Date("<%= @booking.date %>");
  var now = new Date();
  var diff = Math.floor((bookingDate - now) / (1000 * 60 * 60 * 24));

  // Update the countdown element with the days remaining or cancellation message
  var countdownElement = document.getElementById("countdown");
  var status = "<%= @booking.status %>";
  if (status === "Cancelled") {
    countdownElement.innerHTML = "None!! ðŸ˜¡ <br> and now you'll GetFat ðŸ˜œ ";
  } else if (diff < 0) {
    countdownElement.innerHTML = "It's today!!! ðŸ¤© ";
  } else if (diff === 0) {
    countdownElement.innerHTML = "Booking is tomorrow ðŸ™Œ ";
  } else if (diff === 1) {
    countdownElement.innerHTML = "1 day left ðŸ˜ ";
  } else if (diff < 1) {
    countdownElement.innerHTML = "Less than 1 day left ðŸ˜¬";
  } else {
    countdownElement.innerHTML = diff + " days left ðŸ’ª ";
  }
</script>


<div class="col pt-5 pb-5">
<p class="whity"> Status: <%= @booking.status %> </p>
<p class="whity"> Date: <%= @booking.date %> </p>
<p class="whity"> Time: <%= @booking.time.strftime('%-I:%M%p') %> </p>
<p class="whity"> Duration: <%= @booking.duration %> </p>
<p class="whity"> Package: <%= @booking.package.title %> </p>
<p class="whity"> Instructor: <%= @booking.package.user.name %> </p>
<br><br>
<%= link_to "Add Review", new_user_booking_review_path(user_id: @user.id, booking_id: @booking.id), class: "btn-gf" %>

</div>

<h3 class="light"> Cancel the Booking </h3>

<% if @booking.status === "Cancelled" %>
  <%= form_for(@booking, url: cancel_user_booking_path(user_id: @user.id, id: @booking.id), method: :put, data: { confirm: "Are you sure you want to cancel this booking?" }) do |f| %>
    <%= f.submit "Booking is cancelled", class: "btn-gf-disabled", disabled: true %>
  <% end %>
<% else %>
  <%= form_for(@booking, url: cancel_user_booking_path(user_id: @user.id, id: @booking.id), method: :put, data: { confirm: "Are you sure you want to cancel this booking?" }) do |f| %>
    <%= f.submit "Cancel Booking", class: "btn-gf" %>
  <% end %>
<% end %>

<br> <br> <br> <br> <br> <br>
</div>