<div class="layout-content">

<div class="hero-top">
<img src="https://res.cloudinary.com/dbfx0jmo6/image/upload/v1677929767/GetFit/assets/Img/Neil_jzmofm.png" class="pt-5">
<h2 class="light thick pt-5">WELCOME BACK</h2>
<h4 class="light pb-5"><%= current_user.name %></h4>
</div>


<div class="timerwatch">

<div class="stopwatch">
	<p class="timer-text" onclick="start()">Start |</p>  
	<p class="timer-text" onclick="stop()">Stop |</p> 
	<p class="timer-text" onclick="reset()">Reset</p> 

<h1 id="timer" class="timer">00:00:000</h1>

	<script>
		var startTime;
		var elapsedTime = 0;
		var timerInterval;

		function pad(num, size) {
			var s = num+"";
			while (s.length < size) {
				s = "0" + s;
			}
			return s;
		}

		function updateTimer() {
			var ms = elapsedTime % 1000;
			var s = Math.floor(elapsedTime / 1000) % 60;
			var m = Math.floor(elapsedTime / (1000 * 60));
			var displayString = pad(m, 2) + ":" + pad(s, 2) + ":" + pad(ms, 3);
			document.getElementById("timer").innerHTML = displayString;
		}

		function start() {
			startTime = Date.now() - elapsedTime;
			timerInterval = setInterval(function() {
				elapsedTime = Date.now() - startTime;
				updateTimer();
			}, 10);
		}

		function stop() {
			clearInterval(timerInterval);
		}

		function reset() {
			elapsedTime = 0;
			updateTimer();
		}
	</script>

</div>


</div>

<br>


<div class="row justify-align-center">
<div class="col">
  <h2 class="glow">Instructors </h2>
</div>
<div class="col">
	<div class="search-container">
  <input type="text" id="user-search" placeholder="Search">
</div>
</div>
</div>
  <br>
<div class="user-list">
  <ul id="user-ul">
    <% @users.select { |user| user.instructor }.each.with_index(1) do |user, i| %>
      <li class="li-user-card">
        <div class="user-card">
          <div>
            <img src="<%= user.photo %>" width="70px">
          </div>
          <div class="title-user-card">
            <h5 class="pink thick"><%= user.name %></h5>
           <p class="light"><%= user.speciality.join(', ') %></p>
          </div>
          <div>
            <%= link_to "View", user_path(user), class: "btn-gf" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
const searchInput = document.getElementById('user-search');
const userList = document.getElementById('user-ul');

searchInput.addEventListener('keyup', function(event) {
  const searchText = event.target.value.toLowerCase();
  const userCards = userList.querySelectorAll('.user-card');

  userCards.forEach(userCard => {
    const name = userCard.querySelector('.title-user-card h5').textContent.toLowerCase();
    const speciality = userCard.querySelector('.title-user-card p').textContent.toLowerCase();

    if (name.includes(searchText) || speciality.includes(searchText)) {
      userCard.parentNode.style.display = 'block';
    } else {
      userCard.parentNode.style.display = 'none';
    }
  });
});
</script>
<br><br><br><br><br>
</div>




