<div class="layout-content">
<div class="align-center">
      <img src="<%= @user.photo %>" width="300px" >
      <h1 class="light"> <%= @user.name %> </h1>
      <p class="light"><%= @user.speciality.join(', ') %></p>
      <p class="light"><%= @user.description %></p>

<div class="user-list">
  <ul id="user-ul">
    <% @packages.each do |package| %>
  <li class="li-user-card">
    <div class="user-card">
      <div class="title-user-card">
        <h5 class="darkversion thick"><%= package.title %></h5>
        <p class="light"><%= package.description %></p>
        <p class="light"><%= package.price %></p>
      </div>
      <div>
      <%= link_to "View", new_user_booking_path(@user, package_id: package.id), class: "btn-gf" %>
      </div>
    </div>
  </li>
<% end %>
  </ul>
</div>

</div>
</div>